<?xml version="1.0" encoding="UTF-8"?>
<pm:html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:pm="http://typeframe.com/pagemill"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://typeframe.com/pagemill http://typeframe.com/schemas/pagemill.xsd http://www.w3.org/1999/xhtml http://www.w3.org/MarkUp/SCHEMA/xhtml-basic11.xsd">
	<pm:head>
		<title>@{page_title}@</title>
	</pm:head>
	<pm:body>
		<pm:if expr="page_header">
			<h2>
				@{page_header}@
			</h2>
		</pm:if>
		<p>
			Typeframe has been successfully installed.
		</p>
	</pm:body>
</pm:html>
